---
- name: make install dir
  become: yes
  become_user: root
  file:
    path: '{{sbt_install_dir}}'
    state: directory
    mode: 0755

- name: check for sbt intallation...
  become: yes
  stat:
    path: '{{sbt_install_subdir}}'
  changed_when: false
  register: sbt_binary
- when: not sbt_binary.stat.exists
  block:
    - name: get tgz
      become: yes
      become_user: root
      get_url:
        url: '{{sbt_tgz_url}}'
        dest: /tmp/{{sbt_tgz}}
        checksum: '{{sbt_tgz_checksum}}'
        mode: 0644

    - name: inflate/install
      become: yes
      become_user: root
      unarchive:
        remote_src: yes
        src: /tmp/{{sbt_tgz}}
        dest: '{{sbt_install_dir}}'
        creates: '{{sbt_install_subdir}}'
  always:
    - name: cleanup...
      become: yes
      become_user: root
      file:
        path: /tmp/{{sbt_tgz}}
        state: absent
        
- name: link sbt...
  become: yes
  become_user: root
  file:
    src: '{{sbt_install_subdir}}'
    dest: '{{sbt_link_dir}}'
    state: link

- name: add sbt to the default path...
  become: yes
  become_user: root
  with_items:
    - f: sbt.sh
      d: /etc/profile.d
  template:
    src: '{{item.f}}.j2'
    dest: '{{item.d}}/{{item.f}}'
    mode: '{{item.m|default("0644")}}'

- name: bootstrap sbt...
  become: yes
  become_user: root
  command: bash -l -c 'sbt exit'

